/* === START BACKEND === */
.category{
	background-image: url('../img/folder.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: contain;
	height: 50px;
	p{
		padding-top: 30px;
		padding-left: 5px;
		color: $colorWhite;
	}
}
/* === END BACKEND === */