// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "node_modules/foundation/scss/foundation";

@import "variables";

/* BEGIN DEFAULT*/
.row-padding-bottom-gv{
	padding-bottom: 24px;
}
.fullWidth-gv {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.gray-gv{
	color: $colorGray;
}
.push-gv{
	height: 120px;
}
.background-box-one-gv{
	background-image: url('../../assets/img/backgroundOne.jpg');
	background-repeat: no-repeat center center fixed;
	background-position: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 713px;
}
.background-splitter-expertise-gv{
	/*FF3.6+*/ background: -moz-linear-gradient(left, #e5e5e5 50%, #f2f2f2 50%); 
	/*Chrome,Safari4+*/ background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e5e5e5), color-stop(50%, #f2f2f2)); 
	/*Chrome10+,Safari5.1+*/ background: -webkit-linear-gradient(left, #e5e5e5 50%, #f2f2f2 50%);
	/*Opera 11.10+*/ background: -o-linear-gradient(left, #e5e5e5 50%, #f2f2f2 50%); 
	/*IE10+*/ background: -ms-linear-gradient(left, #e5e5e5 50%, #f2f2f2 50%); 
	/*W3C*/ background: linear-gradient(to right, #e5e5e5 50%, #f2f2f2 50%);
}
.white-box-gv{
	padding-top: 75px;
	padding-bottom: 75px;
}
.background-box-two-gv{
	background-image: url('../../assets/img/backgroundTwo.jpg');
	background-repeat: no-repeat center center fixed;
	background-position: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	h1,
	p{
		text-align: center;
		text-transform: none;
	}
	p{
		font: $Arial;
		font-size: $p-title;
	}
}
.blue-box-gv{
	background-color: $colorBlue;
}
.background-splitter-about-gv{
	/*FF3.6+*/ background: -moz-linear-gradient(left, #2d77b8 50%, #000 50%);
	/*Chrome,Safari4+*/ background: -webkit-gradient(linear, left top, right top, color-stop(50%, #2d77b8), color-stop(50%, #000));
	/*Chrome10+,Safari5.1+*/ background: -webkit-linear-gradient(left, #2d77b8 50%, #000 50%);
	/*Opera 11.10+*/ background: -o-linear-gradient(left, #2d77b8 50%, #000 50%);
	/* IE10+ */ background: -ms-linear-gradient(left, #2d77b8 50%, #000 50%);
	/*W3C*/ background: linear-gradient(to right, #2d77b8 50%, #000 50%);
}
/* END DEFAULT*/

/* BEGIN HTML, BODY & WRAPPER */
html,
body{
	height: 100%;
	margin: 0;
	.wrapper-gv{
		min-height: 100%;
		margin-bottom: -120px;
	}
}
/* END HTML & WRAPPER */


/* === BEGIN NAVIGATION === */
.title-bar-gv{
	text-align: center;
	padding-top: 30px;
	background: $colorBlue;
	display: none;
	.menu-icon-gv{
		display: block;
		margin: 0 auto;
	}
	.title-bar-title-gv{
		padding-bottom: 20px;
	}
}
.top-bar-gv{
	background-color: $colorBlue;
	display: block;
	ul{
		&.language{
			font-size: $language;
			float: right;
			padding-top: 10px;
			li{
				list-style-type: none;
				display: inline;
				padding: 8px;
				a{
					color: $colorWhite;
					text-transform: uppercase;
					&:hover{
						color: $colorBlack;
					}
				}
			}
			a{
				&:hover{
					border-bottom: 0px;
				}
			}
		}
		&.menu-bottom-gv{
			background-color: $colorBlue;
			padding-top: 43px;
			li{
				a{
					color: $colorWhite;
					text-transform: uppercase;
					&:hover{
						border-bottom: solid 1px;
					}
				}
			}
		}
	}
	.top-bar-left-gv{
	   padding-top: 20px;
		h1{
			&.logo{
				font-family: $Arial;
				color: $colorWhite;
				font-size: $logo;
				border: solid 3px;
				text-transform: uppercase;
				padding-left: 20px;
				padding-right: 20px;
				a{
					color: $colorWhite;
				}
			}
		}
	}
}
/* === END NAVIGATION === */

/* === BEGIN CONTAINER & CONTENT === */
.container-gv{
	.content-gv{
		p{
			font-family: $Arial;
			font-size: $p;
		}
		.quote-gv{
			h1{
				font-family: $Arial;
				font-size: $h1;
				font-size: $quote;
				text-transform: uppercase;
				font-weight: bold;
				&.quote-who-gv{
					color: $colorBlue;
					padding-top: 75px;
				}
				&.quote-actual-gv{
					font-family: $Virtue;
					font-size: $h1;
					color: $colorWhite;
				}
			}
			p{
				color: $colorWhite;
				&.underline-gv{
					border-bottom: solid 2px $colorBlue;
					background-color: $colorBlue;
					height: 3px;
					width: 463px;
				}
			}
		}
		.title-gv{
			padding-top: 25px;
			padding-bottom: 25px;
			h1{
				font-family: $Arial;
				font-size: $h1;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				border: solid 2px;
			}
			&.color-white-gv{
				color: $colorWhite;
			}
			&.color-blue-gv{
				color: $colorBlue;
			}
		}
		.expertise-gv{
			padding-top: 50px;
			padding-bottom: 50px;
			h1{
				font-family: $Virtue;
				font-size: $h1;
				color: $colorBlue;
				text-align: center;
				text-transform: uppercase;
				padding-top: 10px;
				padding-bottom: 30px;
				display: inline-block;
				&.development-gv{
					background-image: url('../../assets/img/development.png');
					background-repeat: no-repeat;
					background-size: 57px 50px;
					padding-left: 100px;
				}
				&.hardware-gv{
					background-image: url('../../assets/img/hardware.png');
					background-repeat: no-repeat;
					background-size: 34px 50px;
					padding-left: 65px;
				}
			}
			p{
				text-align: left;
			}
			ul{
				font-family: $Arial;
				font-size: $ul;
				list-style: none;
				li:before {
					content: ">     ";
				}
			}
			&.gray-light-box-gv{
				background-color: $grayLight;
			}
			&.gray-lighter-box-gv{
				background-color: $grayLighter;
			}
		}
		.skills-gv{
			text-align: center;
			img {
				padding: 15px;
				&.html5-gv{
					width: 113px;
				}
				&.css3-gv{
					width: 113px;
				}
				&.sass-gv{
					width: 256px;
				}
				&.foundation-gv{
					width: 103px;
				}
				&.laravel-gv{
					width: 159px;
				}
				&.bootstrap-gv{
					width: 159px;
				}
				&.mysql-gv{
					width: 199px;
					padding-bottom: 0px;
					padding-top: 0px;
				}
				&.jquery-gv{
					width: 261px;
					padding-bottom: 0px;
					padding-top: 0px;
				}
				&.less-gv{
					width: 160px;
					padding-bottom: 0px;
					padding-top: 0px;
				}
				&.cakephp-gv{
					width: 144px;
					padding-bottom: 0px;
					padding-top: 0px;
				}
			}
		}
		.interests-gv{
			.image-text-gv {
				img{
					width: 100%;
					vertical-align: top;
				}
				position: relative;
				&.friends-gv:after{
					content: "#family \A #friends";
					white-space: pre;
				}
				&.snooker-gv:after{
					content: "#snooker \A #pool";
					white-space: pre;
				}
				&.aion-gv:after{
					content: "#gaming \A #aion";
					white-space: pre;
				}
				&.multimedia-gv:after{
					content: "#movies \A #series";
					white-space: pre;
				}
			}
			.image-text-gv:after{
				color: $colorWhite;
				font-family: $Bradley;
				font-size: $h1;
				content: '';
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				opacity: 0;
				margin: 0;
				margin-right: -50%;
				transform: translate(-50%, -50%);
				text-align: center;
			}
			.image-gv:after{
				color: $colorWhite;
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(0,0,0,0.8);
				opacity: 0;
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				text-align: center;
				vertical-align: middle;
				display: inline-block;
			}
			.image-text-gv:hover:after,
			.image-gv:hover:after {
				opacity: 1;
			}
		}
		.background-about-gv{
			&.about-gv{
				color: $colorWhite;
				background-image: url('../../assets/img/gillesvanpeteghem.png');
				background-repeat: no-repeat;
				background-position: 50% 100%;
				background-size: contain;
				padding-top: 15px;
			}
			.about-information-gv{
				padding-bottom: 25px;
				a{
					text-decoration: underline;
					font-style: italic;
					color: $colorWhite;
					font-weight: bold;
				}
				img{
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
	.social-gv{
		float: right;
		padding-top: 50px;
		position: relative;
		h1{
			float: right;
			font-family: $Bradley;
			font-size:	$social;
			font-weight: bold;
		}
		img{
			float: right;
			padding-top: 25px;
		}
		.social-text-gv{
			height: 100px;
			position: relative;
			h1{
				color: $colorBlue;
			}
		}
	}
	
}
footer{
	background-color: $grayLighter;
	color: $colorBlue;
	font-family: $Arial;
	padding-top: 50px;
	padding-bottom: 25px;
	a{
		padding-right: 25px;
	}
	img{
		width: 25px;
		height: 25px;
		&:hover{
			opacity: 0.2;
		}
	}
	.footer{
		height: 120px;
	}
}

/* === BEGIN CREATING CONTENT === */
.container-gv{
	.content-gv{
		.heading-tutorial-gv{
			&.heading-one-tutorial-gv{
				color: $colorHeadingOne;
				font-size: $h1;
				//border-bottom: solid 1px $colorHeadingOne;
			}
			&.heading-two-tutorial-gv{
				color: $colorHeadingTwo;
				font-size: $h2;
				//border-bottom: solid 1px $colorHeadingTwo;
			}
		}
		.indentation-tutorial-gv{
			&.indent-1-gv{
				padding-left: 30px;
				&.numbers-gv{
					padding-left: 45px;
				}
			}
			&.indent-2-gv{
				padding-left: 60px;
			}
		}
		h1{
			&.title-tutorial-gv{
				padding-top: 50px;
				font-size: $h1;
			}
		}
		p{
			&.tutorial-paragraph-gv{
				border: solid 1px $colorBlack;
				padding: 5px;
				color: $colorWhite;
			}
			&.error-tutorial-cakephp-gv{
				background-color: $colorErrorCakePHP;
			}
			&.success-tutorial-cakephp-gv{
				background-color: $colorSuccessCakePHP;
			}
			&.warning-tutorial-cakephp-gv{
				background-color: $colorWarningCakePHP;
				color: $colorBlack;
			}
			&.tutorial-lightgreen-cakephp-gv{
				background-color: $colorLightGreenCakePHP;
				color: $colorGrayCakePHP;
				border: 0px;
				padding: 15px;
			}
			&.tutorial-darkbrown-sublime-gv{
				background-color: $colorSublimeDarkBrown;
			}
			&.tutorial-black-cmd-gv{
				background-color: $colorBlack;
				color: $colorWhite;
			}
		}
		span{
			&.notice-tutorial-cakephp-gv{
				color: $colorNoticeCakePHP;
			}
			&.tutorial-red-cakephp-gv{
				color: $colorRedCakePHP;
			}
			&.tutorial-lightbrown-sublime-gv{
				color: $colorSublimeLightBrown;
			}
			&.tutorial-blue-sublime-gv{
				color: $colorSublimeBlue;
			}
			&.tutorial-red-sublime-gv{
				color: $colorSublimeRed;
			}
			&.tutorial-yellow-sublime-gv{
				color: $colorSublimeYellow;
			}
			&.tutorial-green-sublime-gv{
				color: $colorSublimeGreen;
			}
			&.tutorial-gray-sublime-gv{
				color: $colorSublimeGray;
			}
			&.tutorial-purple-sublime-gv{
				color: $colorSublimePurple;
			}
			&.google-tutorial-blue-gv{
				color: $colorGoogleBlue;
			}
			&.google-tutorial-green-gv{
				color: $colorGoogleGreen;
			}
			&.google-tutorial-gray-gv{
				color: $colorGoogleGray;
			}
			&.GRC-tutorial-blue-gv{
				color: $colorBlueGRC;
			}
			&.GRC-tutorial-red-gv{
				border: solid 1px $colorRedGRC;
				color: $colorBlack;
				padding: 3px;
			}
			&.cmd-tutorial-green-gv{
				color: $colorGreenCMD;
			}
			&.lt-gv{
				&::before{
					content: "<";
				}
			}
		}
		ul{
			&.list-tutorial-gv{
				li{
					list-style-type: none;
					font-size: $ul;
				}
			}
		}
		ol{
			&.list-tutorial-gv{
				li{
					font-size: $ul;
				}
			}
		}
		.created-gv,
		.modified-gv{
			font-size: $created;
			font-style: italic;
		}
		table{
			font-size: $p;
			border: solid 2px $colorGrayMYSQL;
			td{
				padding: 1px 5px 1px 5px;
				background-color: $colorWhite;
			}
			th{
				&.header-database-table-gv{
					background-color: $colorBlueMYSQL;
				}
			}
		}
	}
}

/* === END CREATING CONTENT === */


/* === BEGIN JQUERY COLORFY === */
.markdown{
	.tag{
		color: $colorParagraphSublimeRed;
	}
	.class,
	.source{
		color: $colorSublimeGreen;
	}
	.comment{
		color: $colorSublimeGray;
	}
}
.textarea {
	background-color: $colorSublimeDarkBrown;
	color: $colorWhite;
	overflow: auto !important;
	width: 100%;
}
/* === END JQUERY COLORFY === */

/* === BEGIN OVERRRIDE FOUNDATION CSS === */
.dropdown{
	&.menu{
		.is-dropdown-submenu-parent{
			&.is-down-arrow{
				> a{
					&::after{
						border-color: $colorBlueSecond transparent transparent;
					}
				}
			}
		}
	}
}
.dropdown{
	&.menu{
		&.submenu-background-gv{
			background-color: $colorBlue;
		}
	}
}
/* === END OVERRRIDE FOUNDATION CSS === */

/* === BEGIN MEDIA QUERIES === */
@media only screen and (max-width: 1023px) {
	.container-gv{
		.content-gv{
			.background-splitter-about-gv{
				background: none;
				background-color: #2D77B8;
			}
			.background-about-gv{
				&.about-gv{
					background-image: none;
				}
			}
			.interest-text-gv,
			.about-information-gv{
				text-align: center;
			}
		}
	}
}
@media only screen and (max-width: 750px) {
	.container-gv{
		.content-gv{
			.expertise-gv{
				h1{
					&.development-gv{
						padding-left: 70px;
					}
					&.hardware-gv{
						padding-left: 50px;
					}
				}
				p{
					padding-top: 25px;
				}
			}
		}
	}
}
@media only screen and (max-width: 639px) {
	/* === BEGIN DEFAULT === */
	.fullWidth-gv {
	   width: auto;
	}
	/* === END DEFAULT === */
	/* === BEGIN NAVIGATION === */
	.title-bar-gv{
		background-color: $colorBlue;
		display: block;
		h1{
			text-align: center;
			text-transform: uppercase;
			font-size: $logo;
			border: solid 3px;
			padding-left: 5px;
			padding-right: 5px;
			color: $colorWhite;
		}
	}
	.top-bar-gv{
		height: auto;
		ul{
			padding-top: 0px;
			li{
				text-align: center;
				display: block;
			}
		}
		.top-bar-left-gv{
			padding-top: 0px;
			h1{
				text-align: center;
			}
		}
	}
	footer{
		.footer-text-gv{
			text-align: center;
		}
		.footer-social-icons-gv{
			text-align: center;
		}
	}
	/* === END NAVIGATION === */

	.container-gv{
		.content-gv{
			.expertise-gv{
				h1{
					font-size: $h1;
					text-align: center;
					display: block;
					padding-left: 0px;
					&.development-gv{
						padding-left: 0px;
						height: 101px;
						padding-top: 125px;
						background-position: center;
					}
					&.hardware-gv{
						padding-left: 0px;
						height: 101px;
						padding-top: 125px;
						background-position: center;
					}
				}
				p,
				ul{
					text-align: center;
				}
			}
			.interests-gv{
				img{
					margin: 0 auto;
					display: block;
				}
			}
		}
	}
}
@media only screen and (max-width: 497px) {
	.container-gv{
		.content-gv{
			.quote-gv{
				p{
					&.underline-gv{
						width: 290px;
					}
				}
			}
			.background-box-one-gv{
				background-position: 70% 100%;
			}
		}
	}
}
@media only screen and (max-width: 351px) {
	.social-gv{
		img{
			display: none;
		}
	}
}
/* === END MEDIA QUERIES === */