// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "node_modules/foundation/scss/foundation";

@import "variables";
.fullWidth-gv {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.noPadding-gv{
	padding-left: 0px;
	padding-right: 0px;
}
.blue{
	color: $colorBlue;
}
.blueDarker{
	color: $colorBlueDarker;
}
.white{
	color: $colorWhite;
}
.gray{
	color: $colorGray;
}
.title-bar-background{
	background-color: $backgroundWhite;
	/* .menu-icon-color::after{
		background-color: $backgroundBlueMain;
		box-shadow: 0 7px 0 $backgroundBlueMain, 0 14px 0 $backgroundBlueMain;
	} */
	img{
		&.logo{
			width: 90px;
			height: 100px;
		}
	}
	.menu-icon-gv{
		display: block;
    	margin: 0 auto;
	}
}

.title-bar-center{
	text-align: center;
}
.top-bar-background{
	background-color: $backgroundBlueMain;
	ul{
		&.menu-bottom{
			padding-top: 43px;
			background-color: $backgroundBlueMain;
			li{
				a{
					color: $colorWhite;
					text-transform: uppercase;
				}
			}
		}
	}
}
.dropdown{
	&.menu{
		&.submenu-background-gv{
			background-color: $backgroundBlueMain;
		}
	}
}

.top-bar-left{
   padding-top: 20px;
	h1{
		&.logo{
			font-family: $Arial;
			font-size: $h1;
			color: $colorWhite;
			border: solid 3px;
			text-transform: uppercase;
			padding-left: 20px;
			padding-right: 20px;
			a{
				color: $colorWhite;
			}
		}
	}
}

.top-bar-center{
	text-align: center;
	padding-bottom: 100px;
	/* &.top-bar-background{
		background-color: $backgroundBlueMain;
		ul{
			background-color: $backgroundBlueMain;
		}
	} */
	.top-bar-inner{
		display: inline-block;
		.menu-bottom{
			> li{
				vertical-align: bottom;
			}
		}
		ul{
			li{
				a{
					font-family: $Arial;
					font-size:	$h2;
					color: $colorBlueDarker;
					&:hover{
						text-decoration: underline;
					}
				}
				.logo{
					width: 90px;
					height: 100px;
				}
			}
		}
	}
}

.container{
	.content{
		.social-test{
			height: 100px;
			position: relative
		}
		.social{
			float: right;
			/* background-image: url('../img/arrow.png');
			background-repeat: no-repeat;
			background-position: 50px 70px; */
			padding-top: 50px;
    		position: relative;
			h1{
				float: right;
				font-family: $Bradley;
				font-size:	$social;
				font-weight: bold;
			}
			img{
				float: right;
				padding-top: 25px;
			}
		}
		p{
			font-family: $Arial;
			font-size: $p;
			text-align: justify;
		}
		.quote{
			h1{
				font-family: $Arial;
				font-size: $h1;
				text-transform: uppercase;
				font-size: $quote;
				font-weight: bold;
				&#who{
					padding-top: 75px;
					border-bottom: solid 2px;
				}
				&.actual-quote{
					font-family: $Krungthep;
					font-size: $h1;
				}
			}
		}
		.title{
			padding-top: 25px;
			padding-bottom: 25px;
			h1{
				/* padding-top: 7px;
				padding-bottom: 7px; */
				font-family: $Arial;
				font-size: $h1;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				border: solid 4px;
				color: $colorBlueDarker;
			}
		}
		.part{
			h1{
				font-family: $Arial;
				font-size: $h1;
				text-align: center;
				text-transform: uppercase;
				padding-top: 7px;
				padding-bottom: 7px;
				font-size: $h2;
				color: $colorWhite;
				&.part-light{
					background-color: $backgroundGrayLight;
				}
				&.part-lighter{
					background-color: $backgroundGrayLighter;
				}
			}
		}
		.box{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.backgroundbox{
			background-image: url('../img/background.jpg');
			background-repeat: no-repeat center center fixed;
			background-position: 100% 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height: 713px;
		}
		.socialBox{
			/* padding-top: 75px;
			padding-bottom: 10px; */
		}
		.grayLightBox{
			background-color: $backgroundGrayLight;
			/* padding-bottom: 50px; */
		}
		.grayLighterBox{
			background-color: $backgroundGrayLighter;
			/* padding-bottom: 50px; */
		}
		.grayBox{
			background-color: $backgroundGray;
		}
		.blueBox{
			background-color: $backgroundBlueMain;
			padding-bottom: 50px;
			&.about{
				background-image: url('../img/gillesvanpeteghem.png');
				background-repeat: no-repeat;
				background-position: 100% 100%;
				background-size: contain;
			}
		}
		.whiteBox{
			background-color: $backgroundWhite;
			padding-bottom: 50px;
		}
		.colorBlue{
			color: $colorBlue;
		}
		.colorWhite{
			color: $colorWhite;
			.title{
				h1{
					color: $colorWhite;
				}
			}
		}
		.line{
			border-bottom: dashed 1px;
			height: 125px;
		}
		.portrait{
			padding-bottom: 30px;
			img{
				border-radius: 125px;
				display: block;
				margin: 0 auto;
				width: 250px;
				height: 250px;
			}
		}
	}
	footer{
		background-color: $backgroundGrayLighter;
		padding-top: 50px;
		padding-bottom: 25px;
		color: $colorBlue;
		font-family: $Arial;
		a{
			padding-right: 25px;
		}
		img{
			width: 25px;
			height: 25px;
			&:hover{
				opacity: 0.2;
			}
		}
	}
}

//Media Queries
@media only screen and (max-width: 639px) {
	.title-bar-background{
		background-color: $backgroundBlueMain;
		h1{
			text-align: center;
			text-transform: uppercase;
			font-size: $h2;
			border: solid 3px;
			padding-left: 5px;
			padding-right: 5px;
			color: $colorWhite;
		}
	}
	.top-bar{
		.top-bar-left{
			display: none;
			visibility: hidden;
    		height: 0px;
		}
	}
	.top-bar-center{
		.top-bar-inner{
			.menu-bottom{
				>li{
					vertical-align: middle;
					display: inline;
					text-align: left;
					&.menu-text{
						display: none;
					}
				}
			}
		}
	}
	.top-bar-background{
		ul{
			padding-top: 0px;
			li{
				display: block;
			}
		}
	}
}

@media only screen and (max-width: 351px) {
	.social{
		img{
			display: none;
		}
	}
}

//Overrride Foundation CSS
.dropdown{
	&.menu{
		.is-dropdown-submenu-parent{
			&.is-down-arrow{
				> a{
					&::after{
						border-color: $colorBlueSecond transparent transparent;
					}
				}
			}
		}
	}
}