/* === BEGIN FONTS === */
@font-face {
	font-family: 'cairoregular';
	src: url('../../assets/public/fonts/cairo-regular1.woff2') format('woff2'),
		 url('../../assets/public/cairo-regular1.woff') format('woff');
}
@font-face {
	font-family: 'arialregular';
	src: url('../../assets/fonts/arial-webfont.woff2') format('woff2'),
		 url('../../assets/fonts/arial-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'krungthep';
	src: url('../../assets/fonts/krungthep-webfont.woff2') format('woff2'),
		 url('../../assets/krungthep-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bradley_hand_itc_ttregular';
	src: url('../../assets/fonts/bradley_hand_itc_tt-webfont.woff2') format('woff2'),
		 url('../../assets/fonts/bradley_hand_itc_tt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'virtueregular';
    src: url('../../assets/fonts/virtue-webfont.woff2') format('woff2'),
         url('../../assets/fonts/virtue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* === END FONTS === */


/* === BEGIN BACKGROUND COLORS === */
$grayLight:			#e5e5e5;
$grayLighter:		#f2f2f2;
/* === END BACKGROUND COLORS === */


/* === BEGIN TEXT COLORS === */
$colorWhite:		#ffffff;
$colorGray:			#666666;
$colorBlue:			#2d77b8;
$colorBlueSecond:	#aac7ca;
/* === END TEXT COLORS === */


/* === BEGIN FONT SIZES === */
$social:			40px;
$quote:				31px;
$logo:				36px;
$h1:				23px;
$p-title:			18px;
$p:					14px;
$ul:				14px;
$language:			10px;
/* === END FONT SIZES === */


/* === BEGIN FONT NAMES === */
$Lato:				'Lato';
$Cairo:				'cairoregular';
$Arial:				'arialregular';
$Krungthep:			'krungthep';
$Bradley:			'bradley_hand_itc_ttregular';
$Virtue:			'virtueregular';
/* === END FONT NAMES === */