/* === BEGIN FONTS === */
@font-face {
	font-family: 'cairoregular';
	src: url('../../assets/public/fonts/cairo-regular1.woff2') format('woff2'),
		 url('../../assets/public/cairo-regular1.woff') format('woff');
}
@font-face {
	font-family: 'arialregular';
	src: url('../../assets/fonts/arial-webfont.woff2') format('woff2'),
		 url('../../assets/fonts/arial-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'krungthep';
	src: url('../../assets/fonts/krungthep-webfont.woff2') format('woff2'),
		 url('../../assets/krungthep-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bradley_hand_itc_ttregular';
	src: url('../../assets/fonts/bradley_hand_itc_tt-webfont.woff2') format('woff2'),
		 url('../../assets/fonts/bradley_hand_itc_tt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'virtueregular';
    src: url('../../assets/fonts/virtue-webfont.woff2') format('woff2'),
         url('../../assets/fonts/virtue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* === END FONTS === */


/* === BEGIN BACKGROUND COLORS === */
$grayLight:			#e5e5e5;
$grayLighter:		#f2f2f2;
/* === END BACKGROUND COLORS === */


/* === BEGIN TEXT COLORS === */
$colorWhite:				#ffffff;
$colorBlack:				#000000;
$colorGray:					#666666;
$colorBlue:					#2d77b8;
$colorBlueSecond:			#aac7ca;

$colorNoticeCakePHP:		#3f414c;
$colorErrorCakePHP:			#cf453f;
$colorWarningCakePHP:		#f2c200;
$colorSuccessCakePHP:		#579f4c;
$colorLightGreenCakePHP:	#dff0d8;
$colorRedCakePHP:			#ff0000;
$colorGrayCakePHP:			#858c88;

$colorSublimeBlue:			#62c4cb;
$colorSublimeRed:			#ce253d;
$colorSublimeYellow:		#ecc860;
$colorSublimeGreen:			#a5da2a;
$colorSublimePurple:		#b37ad4;
$colorSublimeLightBrown:	#756a4f;
$colorSublimeDarkBrown:		#272822;
$colorSublimeGray:			#75715e;
$colorParagraphSublimeRed:	#f92672;

$colorGoogleBlue:			#4a7ad6;
$colorGoogleGreen:			#307444;
$colorGoogleGray:			#58535d;

$colorBlueGRC:				#2924ff;
$colorRedGRC:				#ff1c1c;

$colorGreenCMD:				#005200;

$colorHeadingOne:			#f1c232;
$colorHeadingTwo:			#6fa8dc;

$colorBlueMYSQL:			#98bfda;
$colorGrayMYSQL:			#c5c5c5;

$colorHoverStatePrimaryKey:	#f1c232;
/* === END TEXT COLORS === */


/* === BEGIN FONT SIZES === */
$social:			40px;
$quote:				31px;
$logo:				36px;
$h1:				23px;
$h2:				18px;
$p-title:			18px;
$p:					14px;
$ul:				14px;
$created:			11px;
$language:			10px;
/* === END FONT SIZES === */


/* === BEGIN FONT NAMES === */
$Lato:				'Lato';
$Cairo:				'cairoregular';
$Arial:				'arialregular';
$Krungthep:			'krungthep';
$Bradley:			'bradley_hand_itc_ttregular';
$Virtue:			'virtueregular';
/* === END FONT NAMES === */