//Fontface
@font-face {
    font-family: 'cairoregular';
    src: url('../fonts/cairo-regular1.woff2') format('woff2'),
         url('../fonts/cairo-regular1.woff') format('woff');
}

//Background Colors
$backgroundWhite: 		#FFFFFF;
$backgroundBlueMain:	#2C5EAB;
$backgroundBlueSecond:	#AAC7CA;

//Text Colors
$colorWhite:			#FFFFFF;
$colorBlue:				#2C5EAB;
$colorBlueMain:			#2C5EAB;
$colorBlueSecond:		#AAC7CA;

//Font Sizes
$h1: 					48px;
$h2:					18px;
$p:						14px;

//Fonts
$Lato:					'Lato';
$Cairo:					'cairoregular';