/* === BEGIN FONTS === */
@font-face {
  font-family: 'cairoregular';
  src: url("../../assets/public/fonts/cairo-regular1.woff2") format("woff2"), url("../../assets/public/cairo-regular1.woff") format("woff"); }

@font-face {
  font-family: 'arialregular';
  src: url("../../assets/fonts/arial-webfont.woff2") format("woff2"), url("../../assets/fonts/arial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'krungthep';
  src: url("../../assets/fonts/krungthep-webfont.woff2") format("woff2"), url("../../assets/krungthep-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bradley_hand_itc_ttregular';
  src: url("../../assets/fonts/bradley_hand_itc_tt-webfont.woff2") format("woff2"), url("../../assets/fonts/bradley_hand_itc_tt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'virtueregular';
  src: url("../../assets/fonts/virtue-webfont.woff2") format("woff2"), url("../../assets/fonts/virtue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* === END FONTS === */
/* === BEGIN BACKGROUND COLORS === */
/* === END BACKGROUND COLORS === */
/* === BEGIN TEXT COLORS === */
/* === END TEXT COLORS === */
/* === BEGIN FONT SIZES === */
/* === END FONT SIZES === */
/* === BEGIN FONT NAMES === */
/* === END FONT NAMES === */
/* BEGIN DEFAULT*/
.row-padding-bottom-gv {
  padding-bottom: 24px; }

.fullWidth-gv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.gray-gv {
  color: #666666; }

.push-gv {
  height: 120px; }

.background-box-one-gv {
  background-image: url("../../assets/img/backgroundOne.jpg");
  background-repeat: no-repeat center center fixed;
  background-position: 100% 100%;
  background-size: cover;
  height: 713px; }

.background-splitter-expertise-gv {
  /*FF3.6+*/
  /*Chrome,Safari4+*/
  /*Chrome10+,Safari5.1+*/
  /*Opera 11.10+*/
  /*IE10+*/
  /*W3C*/
  background: linear-gradient(to right, #e5e5e5 50%, #f2f2f2 50%); }

.white-box-gv {
  padding-top: 75px;
  padding-bottom: 75px; }

.background-box-two-gv {
  background-image: url("../../assets/img/backgroundTwo.jpg");
  background-repeat: no-repeat center center fixed;
  background-position: 100% 100%;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px; }
  .background-box-two-gv h1,
  .background-box-two-gv p {
    text-align: center;
    text-transform: none; }
  .background-box-two-gv p {
    font: "arialregular";
    font-size: 18px; }

.blue-box-gv {
  background-color: #2d77b8; }

.background-splitter-about-gv {
  /*FF3.6+*/
  /*Chrome,Safari4+*/
  /*Chrome10+,Safari5.1+*/
  /*Opera 11.10+*/
  /* IE10+ */
  /*W3C*/
  background: linear-gradient(to right, #2d77b8 50%, #000 50%); }

/* END DEFAULT*/
/* BEGIN HTML, BODY & WRAPPER */
html,
body {
  height: 100%;
  margin: 0; }
  html .wrapper-gv,
  body .wrapper-gv {
    min-height: 100%;
    margin-bottom: -120px; }

/* END HTML & WRAPPER */
/* === BEGIN NAVIGATION === */
.title-bar-gv {
  text-align: center;
  padding-top: 30px;
  background: #2d77b8;
  display: none; }
  .title-bar-gv .menu-icon-gv {
    display: block;
    margin: 0 auto; }
  .title-bar-gv .title-bar-title-gv {
    padding-bottom: 20px; }

.top-bar-gv {
  background-color: #2d77b8;
  display: block; }
  .top-bar-gv ul.language {
    font-size: 10px;
    float: right;
    padding-top: 10px; }
    .top-bar-gv ul.language li {
      list-style-type: none;
      display: inline;
      padding: 8px; }
      .top-bar-gv ul.language li a {
        color: #ffffff;
        text-transform: uppercase; }
        .top-bar-gv ul.language li a:hover {
          color: #000000; }
    .top-bar-gv ul.language a:hover {
      border-bottom: 0px; }
  .top-bar-gv ul.menu-bottom-gv {
    background-color: #2d77b8;
    padding-top: 43px; }
    .top-bar-gv ul.menu-bottom-gv li a {
      color: #ffffff;
      text-transform: uppercase; }
      .top-bar-gv ul.menu-bottom-gv li a:hover {
        border-bottom: solid 1px; }
  .top-bar-gv .top-bar-left-gv {
    padding-top: 20px; }
    .top-bar-gv .top-bar-left-gv h1.logo {
      font-family: "arialregular";
      color: #ffffff;
      font-size: 36px;
      border: solid 3px;
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px; }
      .top-bar-gv .top-bar-left-gv h1.logo a {
        color: #ffffff; }

/* === END NAVIGATION === */
/* === BEGIN CONTAINER & CONTENT === */
.container-gv .content-gv p {
  font-family: "arialregular";
  font-size: 14px; }

.container-gv .content-gv .quote-gv h1 {
  font-family: "arialregular";
  font-size: 23px;
  font-size: 31px;
  text-transform: uppercase;
  font-weight: bold; }
  .container-gv .content-gv .quote-gv h1.quote-who-gv {
    color: #2d77b8;
    padding-top: 75px; }
  .container-gv .content-gv .quote-gv h1.quote-actual-gv {
    font-family: "virtueregular";
    font-size: 23px;
    color: #ffffff; }

.container-gv .content-gv .quote-gv p {
  color: #ffffff; }
  .container-gv .content-gv .quote-gv p.underline-gv {
    border-bottom: solid 2px #2d77b8;
    background-color: #2d77b8;
    height: 3px;
    width: 463px; }

.container-gv .content-gv .title-gv {
  padding-top: 25px;
  padding-bottom: 25px; }
  .container-gv .content-gv .title-gv h1 {
    font-family: "arialregular";
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: solid 2px; }
  .container-gv .content-gv .title-gv.color-white-gv {
    color: #ffffff; }
  .container-gv .content-gv .title-gv.color-blue-gv {
    color: #2d77b8; }

.container-gv .content-gv .expertise-gv {
  padding-top: 50px;
  padding-bottom: 50px; }
  .container-gv .content-gv .expertise-gv h1 {
    font-family: "virtueregular";
    font-size: 23px;
    color: #2d77b8;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 30px;
    display: inline-block; }
    .container-gv .content-gv .expertise-gv h1.development-gv {
      background-image: url("../../assets/img/development.png");
      background-repeat: no-repeat;
      background-size: 57px 50px;
      padding-left: 100px; }
    .container-gv .content-gv .expertise-gv h1.hardware-gv {
      background-image: url("../../assets/img/hardware.png");
      background-repeat: no-repeat;
      background-size: 34px 50px;
      padding-left: 65px; }
  .container-gv .content-gv .expertise-gv p {
    text-align: left; }
  .container-gv .content-gv .expertise-gv ul {
    font-family: "arialregular";
    font-size: 14px;
    list-style: none; }
    .container-gv .content-gv .expertise-gv ul li:before {
      content: ">     "; }
  .container-gv .content-gv .expertise-gv.gray-light-box-gv {
    background-color: #e5e5e5; }
  .container-gv .content-gv .expertise-gv.gray-lighter-box-gv {
    background-color: #f2f2f2; }

.container-gv .content-gv .skills-gv {
  text-align: center; }
  .container-gv .content-gv .skills-gv img {
    padding: 15px; }
    .container-gv .content-gv .skills-gv img.html5-gv {
      width: 113px; }
    .container-gv .content-gv .skills-gv img.css3-gv {
      width: 113px; }
    .container-gv .content-gv .skills-gv img.sass-gv {
      width: 256px; }
    .container-gv .content-gv .skills-gv img.foundation-gv {
      width: 103px; }
    .container-gv .content-gv .skills-gv img.laravel-gv {
      width: 159px; }
    .container-gv .content-gv .skills-gv img.bootstrap-gv {
      width: 159px; }
    .container-gv .content-gv .skills-gv img.mysql-gv {
      width: 199px;
      padding-bottom: 0px;
      padding-top: 0px; }
    .container-gv .content-gv .skills-gv img.jquery-gv {
      width: 261px;
      padding-bottom: 0px;
      padding-top: 0px; }
    .container-gv .content-gv .skills-gv img.less-gv {
      width: 160px;
      padding-bottom: 0px;
      padding-top: 0px; }
    .container-gv .content-gv .skills-gv img.cakephp-gv {
      width: 144px;
      padding-bottom: 0px;
      padding-top: 0px; }

.container-gv .content-gv .interests-gv .image-text-gv {
  position: relative; }
  .container-gv .content-gv .interests-gv .image-text-gv img {
    width: 100%;
    vertical-align: top; }
  .container-gv .content-gv .interests-gv .image-text-gv.friends-gv:after {
    content: "#family \A #friends";
    white-space: pre; }
  .container-gv .content-gv .interests-gv .image-text-gv.snooker-gv:after {
    content: "#snooker \A #pool";
    white-space: pre; }
  .container-gv .content-gv .interests-gv .image-text-gv.aion-gv:after {
    content: "#gaming \A #aion";
    white-space: pre; }
  .container-gv .content-gv .interests-gv .image-text-gv.multimedia-gv:after {
    content: "#movies \A #series";
    white-space: pre; }

.container-gv .content-gv .interests-gv .image-text-gv:after {
  color: #ffffff;
  font-family: "bradley_hand_itc_ttregular";
  font-size: 23px;
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  opacity: 0;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.container-gv .content-gv .interests-gv .image-gv:after {
  color: #ffffff;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  text-align: center;
  vertical-align: middle;
  display: inline-block; }

.container-gv .content-gv .interests-gv .image-text-gv:hover:after,
.container-gv .content-gv .interests-gv .image-gv:hover:after {
  opacity: 1; }

.container-gv .content-gv .background-about-gv.about-gv {
  color: #ffffff;
  background-image: url("../../assets/img/gillesvanpeteghem.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
  padding-top: 15px; }

.container-gv .content-gv .background-about-gv .about-information-gv {
  padding-bottom: 25px; }
  .container-gv .content-gv .background-about-gv .about-information-gv a {
    text-decoration: underline;
    font-style: italic;
    color: #ffffff;
    font-weight: bold; }
  .container-gv .content-gv .background-about-gv .about-information-gv img {
    display: block;
    margin: 0 auto; }

.container-gv .social-gv {
  float: right;
  padding-top: 50px;
  position: relative; }
  .container-gv .social-gv h1 {
    float: right;
    font-family: "bradley_hand_itc_ttregular";
    font-size: 40px;
    font-weight: bold; }
  .container-gv .social-gv img {
    float: right;
    padding-top: 25px; }
  .container-gv .social-gv .social-text-gv {
    height: 100px;
    position: relative; }
    .container-gv .social-gv .social-text-gv h1 {
      color: #2d77b8; }

footer {
  background-color: #f2f2f2;
  color: #2d77b8;
  font-family: "arialregular";
  padding-top: 50px;
  padding-bottom: 25px; }
  footer a {
    padding-right: 25px; }
  footer img {
    width: 25px;
    height: 25px; }
    footer img:hover {
      opacity: 0.2; }
  footer .footer {
    height: 120px; }

/* === BEGIN CREATING CONTENT === */
.container-gv .content-gv .heading-tutorial-gv.heading-one-tutorial-gv {
  color: #f1c232;
  font-size: 23px; }

.container-gv .content-gv .heading-tutorial-gv.heading-two-tutorial-gv {
  color: #6fa8dc;
  font-size: 18px; }

.container-gv .content-gv .indentation-tutorial-gv.indent-1-gv {
  padding-left: 30px; }
  .container-gv .content-gv .indentation-tutorial-gv.indent-1-gv.numbers-gv {
    padding-left: 45px; }

.container-gv .content-gv .indentation-tutorial-gv.indent-2-gv {
  padding-left: 60px; }

.container-gv .content-gv .indentation-tutorial-gv.indent-3-gv {
  padding-left: 90px; }

.container-gv .content-gv h1.title-tutorial-gv {
  padding-top: 50px;
  font-size: 23px; }

.container-gv .content-gv h1.title-laravel-error-gv {
  background-color: #dddddd;
  color: #333333;
  font: 20px Georgia, "Times New Roman", Times, serif;
  padding: 20px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  overflow: hidden;
  word-wrap: break-word; }

.container-gv .content-gv p.tutorial-paragraph-gv {
  border: solid 1px #000000;
  padding: 5px;
  color: #ffffff; }

.container-gv .content-gv p.error-tutorial-cakephp-gv {
  background-color: #cf453f; }

.container-gv .content-gv p.success-tutorial-cakephp-gv {
  background-color: #579f4c; }

.container-gv .content-gv p.warning-tutorial-cakephp-gv {
  background-color: #f2c200;
  color: #000000; }

.container-gv .content-gv p.tutorial-lightgreen-cakephp-gv {
  background-color: #dff0d8;
  color: #858c88;
  border: 0px;
  padding: 15px; }

.container-gv .content-gv p.tutorial-darkbrown-sublime-gv {
  background-color: #272822; }

.container-gv .content-gv p.tutorial-black-cmd-gv {
  background-color: #000000;
  color: #ffffff; }

.container-gv .content-gv span.notice-tutorial-cakephp-gv {
  color: #3f414c; }

.container-gv .content-gv span.tutorial-red-cakephp-gv {
  color: #ff0000; }

.container-gv .content-gv span.tutorial-lightbrown-sublime-gv {
  color: #756a4f; }

.container-gv .content-gv span.tutorial-blue-sublime-gv {
  color: #62c4cb; }

.container-gv .content-gv span.tutorial-red-sublime-gv {
  color: #ce253d; }

.container-gv .content-gv span.tutorial-yellow-sublime-gv {
  color: #ecc860; }

.container-gv .content-gv span.tutorial-orange-sublime-gv {
  color: #fd971f; }

.container-gv .content-gv span.tutorial-green-sublime-gv {
  color: #a5da2a; }

.container-gv .content-gv span.tutorial-gray-sublime-gv {
  color: #75715e; }

.container-gv .content-gv span.tutorial-purple-sublime-gv {
  color: #b37ad4; }

.container-gv .content-gv span.google-tutorial-blue-gv {
  color: #4a7ad6; }

.container-gv .content-gv span.google-tutorial-green-gv {
  color: #307444; }

.container-gv .content-gv span.google-tutorial-gray-gv {
  color: #58535d; }

.container-gv .content-gv span.GRC-tutorial-blue-gv {
  color: #2924ff; }

.container-gv .content-gv span.GRC-tutorial-red-gv {
  border: solid 1px #ff1c1c;
  color: #000000;
  padding: 3px; }

.container-gv .content-gv span.cmd-tutorial-green-gv {
  color: #005200; }

.container-gv .content-gv span.lt-gv::before {
  content: "<"; }

.container-gv .content-gv ul.list-tutorial-gv li {
  list-style-type: none;
  font-size: 14px; }

.container-gv .content-gv ol.list-tutorial-gv li {
  font-size: 14px; }

.container-gv .content-gv .created-gv,
.container-gv .content-gv .modified-gv {
  font-size: 11px;
  font-style: italic; }

.container-gv .content-gv table {
  font-size: 14px;
  border: solid 2px #c5c5c5; }
  .container-gv .content-gv table td {
    padding: 1px 5px 1px 5px;
    background-color: #ffffff; }
  .container-gv .content-gv table th.header-database-table-gv {
    background-color: #98bfda; }
  .container-gv .content-gv table tbody tr.userID {
    color: #f1c232; }

.container-gv .content-gv .laravel-errors-gv .list-exception-laravel-gv {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 10px 28px; }

.container-gv .content-gv .laravel-errors-gv ol {
  font-family: 'Verdana';
  font-size: 12px; }

.container-gv .content-gv .laravel-errors-gv span.exception-counter-laravel-gv {
  background-color: #fff;
  color: #333;
  padding: 6px;
  float: left;
  margin-right: 10px;
  float: left;
  display: block; }

.container-gv .content-gv .laravel-errors-gv span.exception-title-laravel-gv {
  margin-left: 3em;
  margin-bottom: 0.7em;
  display: block; }

.container-gv .content-gv .laravel-errors-gv span.exception-message-laravel-gv {
  margin-left: 3em;
  display: block; }

.container-gv .content-gv .laravel-errors-gv .solution {
  padding-top: 20px; }

/* === END CREATING CONTENT === */
/* === BEGIN JQUERY COLORFY === */
.markdown .tag {
  color: #f92672; }

.markdown .class,
.markdown .source {
  color: #a5da2a; }

.markdown .comment {
  color: #75715e; }

.textarea {
  background-color: #272822;
  color: #ffffff;
  overflow: auto !important;
  width: 100%; }

/* === END JQUERY COLORFY === */
/* === BEGIN OVERRRIDE FOUNDATION CSS === */
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
  border-color: #aac7ca transparent transparent; }

.dropdown.menu.submenu-background-gv {
  background-color: #2d77b8; }

/* === END OVERRRIDE FOUNDATION CSS === */
/* === BEGIN MEDIA QUERIES === */
@media only screen and (max-width: 1023px) {
  .container-gv .content-gv .background-splitter-about-gv {
    background: none;
    background-color: #2D77B8; }
  .container-gv .content-gv .background-about-gv.about-gv {
    background-image: none; }
  .container-gv .content-gv .interest-text-gv,
  .container-gv .content-gv .about-information-gv {
    text-align: center; } }

@media only screen and (max-width: 750px) {
  .container-gv .content-gv .expertise-gv h1.development-gv {
    padding-left: 70px; }
  .container-gv .content-gv .expertise-gv h1.hardware-gv {
    padding-left: 50px; }
  .container-gv .content-gv .expertise-gv p {
    padding-top: 25px; } }

@media only screen and (max-width: 639px) {
  /* === BEGIN DEFAULT === */
  .fullWidth-gv {
    width: auto; }
  /* === END DEFAULT === */
  /* === BEGIN NAVIGATION === */
  .title-bar-gv {
    background-color: #2d77b8;
    display: block; }
    .title-bar-gv h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      border: solid 3px;
      padding-left: 5px;
      padding-right: 5px;
      color: #ffffff; }
  .top-bar-gv {
    height: auto; }
    .top-bar-gv ul {
      padding-top: 0px; }
      .top-bar-gv ul li {
        text-align: center;
        display: block; }
    .top-bar-gv .top-bar-left-gv {
      padding-top: 0px; }
      .top-bar-gv .top-bar-left-gv h1 {
        text-align: center; }
  footer .footer-text-gv {
    text-align: center; }
  footer .footer-social-icons-gv {
    text-align: center; }
  /* === END NAVIGATION === */
  .container-gv .content-gv .expertise-gv h1 {
    font-size: 23px;
    text-align: center;
    display: block;
    padding-left: 0px; }
    .container-gv .content-gv .expertise-gv h1.development-gv {
      padding-left: 0px;
      height: 101px;
      padding-top: 125px;
      background-position: center; }
    .container-gv .content-gv .expertise-gv h1.hardware-gv {
      padding-left: 0px;
      height: 101px;
      padding-top: 125px;
      background-position: center; }
  .container-gv .content-gv .expertise-gv p,
  .container-gv .content-gv .expertise-gv ul {
    text-align: center; }
  .container-gv .content-gv .interests-gv img {
    margin: 0 auto;
    display: block; } }

@media only screen and (max-width: 497px) {
  .container-gv .content-gv .quote-gv p.underline-gv {
    width: 290px; }
  .container-gv .content-gv .background-box-one-gv {
    background-position: 70% 100%; } }

@media only screen and (max-width: 351px) {
  .social-gv img {
    display: none; } }

/* === END MEDIA QUERIES === */

/*# sourceMappingURL=app.css.map */
